@using NewDB.Models
@{
    //Layout = null;
    ViewBag.Title = "Список компаний";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список компаний</title>
</head>
<body>
    <div>
        <h3>Список компаний</h3>
        <table border="1">
            <tr>
                <td><p>Название</p></td>
                <td><p>E-mail</p></td>
                <td><p>Телефон</p></td>
                <td><p>Сайт</p></td>
            </tr>
            @{CompanyContext dbContext = new CompanyContext();
                var query = from t1 in dbContext.companies
                    join t2 in dbContext.contacts on t1.CompanyId equals t2.CompanyId
                    select new {t1.Name, t2.email, t2.phone, t2.site, t1.industry,t1.CompanyId};


                foreach (var b in query)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.email</p></td>
                    <td><p>@b.phone</p></td>
                    <td><p>@b.site</p></td>
                </tr>
            }
            }
        </table>
    </div>
</body>
</html>